.header {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  background-color: #1c1e1f;
  /* opacity: 0.5; */
  margin-top: 36px;

  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 30px;
}

/* white--version */
/* 
bgc : #fcfcfc*/

.header .header__header-column {
  padding: 10px 15px 20px 15px;
}

.header .header__title {
  font-size: 24px;
  font-weight: 600;
}

.header .header__icon {
  font-size: 20px;
  margin-left: 25px;
  cursor: pointer;
}

.header .header__header-column {
  display: flex;
  align-items: center;
}

.header .header__back-btn {
  font-size: 22px;
  margin-right: 20px;
}
