.status-bar {
  position: fixed;
  width: 100%;
  left: 0px;
  top: 0px;
  background-color: #1c1e1f;

  display: flex;
  justify-content: space-between;
  /* opacity: 0.5; */
  color: white;
  margin-bottom: 20px;
}

/* bg color : fcfcfc */

.status-bar .status-bar__column {
  padding: 10px 20px;
}

.status-bar i {
  font-size: 14px;
  padding-left: 2px;
}

.status-bar .status-bar__battery-level {
  font-size: 5px;
}
